**Pandas**  
Pandas is a Python library for doing data analysis. It's really fast and lets you do exploratory work incredibly quickly.  
*  open-source library specially designed for data analysis and data manipulation  
*   built on the top of the NumPy package, hence it fundamentally relies on NumPy.

![3028.1667792632.jpg]()

In [ ]:
# ! pip install pandas

In [ ]:
import numpy as np
import pandas as pd

# Series & DataFrames - two basic datastructures in Pandas

![series-and-dataframe.width-1200.png]()


**Series**  
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).  
The axis labels are collectively referred to as the index.  
**Pandas Series is nothing but a column in an excel sheet.**

In [ ]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

**Series can be instantiated from dicts:**

In [ ]:
data = {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(data)

a    0.0
b    1.0
c    2.0
dtype: float64

**From scalar value**

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [ ]:
pd.Series(5.0, index=["a", "b", "c", "d", "e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

**Indexing and Slicing Series**

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

Series acts very similarly to a ndarray and is a valid argument to most NumPy functions. However, operations such as slicing will also slice the index.

In [ ]:
s[0], s[1], s[4]

(1, 2, 5)

In [ ]:
s[1:4]

b    2
c    3
d    4
dtype: int64

A Series is also like a fixed-size dict in that you can get and set values by index label:

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s["a"]

1

In [ ]:
s["e"] = 12.0
s

a     1
b     2
c     3
d     4
e    12
dtype: int64

**DataFrame**  
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.  
**Pandas DataFrame is nothing but an excel sheet.**

**Constructing a DataFrame from a list**

In [ ]:
data = [
    [1, 2, 3, 4, 5, 6], 
    ['a', 'b', 'c', 'd', 'e', 'f']
]
pd.DataFrame(data)

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  a  b  c  d  e  f

You can pass the column names

In [ ]:
pd.DataFrame(data, columns=['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6'])

  col_1 col_2 col_3 col_4 col_5 col_6
0     1     2     3     4     5     6
1     a     b     c     d     e     f

**Constructing a DataFrame from a dictionary**

In [ ]:
data = {
    'Name' : ['Amal', 'Aneetta', 'Lizzy', 'Jilu'],
    'Job' : ['Engineer', 'Student', 'Teacher', 'Gov Employee']
}

pd.DataFrame(data)

      Name           Job
0     Amal      Engineer
1  Aneetta       Student
2    Lizzy       Teacher
3     Jilu  Gov Employee

**Learn More about Pandas Data Structures [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dsintro)**

# Reading CSV data

In [ ]:
# Downloading the Titanic datset
! wget https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

--2023-05-02 20:14:05--  https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv
Resolving web.stanford.edu (web.stanford.edu)... 171.67.215.200, 2607:f6d0:0:925a::ab43:d7c8
Connecting to web.stanford.edu (web.stanford.edu)|171.67.215.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/csv]
Saving to: titanic.csv.1

titanic.csv.1       100%[===================>]  43.19K  --.-KB/s    in 0.1s

2023-05-02 20:14:06 (302 KB/s) - titanic.csv.1 saved [44225/44225]

In [ ]:
df = pd.read_csv('titanic.csv')

# Exploring the TItanic Datset

**Display the top n row of the dataframe.**

In [ ]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

**Display the bottom n rows of the dataframe**

In [ ]:
df.tail(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.00
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.00
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.45
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.00
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.75

**Get the Index and Columns of the dataframe.**

In [ ]:
df.index

RangeIndex(start=0, stop=887, step=1)

In [ ]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

***df.info()* would get you some basic information about the dataframe like null values and datatypes**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

***describe()* shows a quick statistic summary of your data:**

In [ ]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

**Transposing your data:**

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,877,878,879,880,881,882,883,884,885,886
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,Mr. Owen Harris Braund,Mrs. John Bradley (Florence Briggs Thayer) Cum...,Miss. Laina Heikkinen,Mrs. Jacques Heath (Lily May Peel) Futrelle,Mr. William Henry Allen,Mr. James Moran,Mr. Timothy J McCarthy,Master. Gosta Leonard Palsson,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,Mrs. Nicholas (Adele Achem) Nasser,...,Mr. Johann Markun,Miss. Gerda Ulrika Dahlberg,Mr. Frederick James Banfield,Mr. Henry Jr Sutehall,Mrs. William (Margaret Norton) Rice,Rev. Juozas Montvila,Miss. Margaret Edith Graham,Miss. Catherine Helen Johnston,Mr. Karl Howell Behr,Mr. Patrick Dooley
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22.0,38.0,26.0,35.0,35.0,27.0,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,7.0,26.0,32.0
Siblings/Spouses Aboard,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parents/Children Aboard,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75

**DataFrame.sort_values() sorts by values:**

In [ ]:
df.sort_values(by="Age").head(6)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
799,1,3,Master. Assad Alexander Thomas,male,0.42,0,1,8.5167
751,1,2,Master. Viljo Hamalainen,male,0.67,1,1,14.5000
641,1,3,Miss. Eugenie Baclini,female,0.75,2,1,19.2583
466,1,3,Miss. Helene Barbara Baclini,female,0.75,2,1,19.2583
827,1,2,Master. George Sibley Richards,male,0.83,1,1,18.7500
77,1,2,Master. Alden Gates Caldwell,male,0.83,0,2,29.0000

**Value Counts**  
Return a Series containing counts of unique values.

The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [ ]:
df.Survived.value_counts()

0    545
1    342
Name: Survived, dtype: int64

**Data Frame data types**

In [ ]:
df['Age'].dtypes # datatype of a particular column

dtype('float64')

In [ ]:
df.dtypes # datatypes of all the columns

Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
dtype: object

**Data Frames attributes**  
*  **dtypes** - list the types of the columns  
*  **columns** - list the column names  
*  **axes** - list the row labels and column names  
*  **ndim** - number of dimensions  
*  **size** - number of elements   
*  **shape** - return a tuple representing the dimensionality   
*  **values** -numpy representation of the data
  

**Data Frames methods**  
Unlike attributes, python methods have parenthesis.
All attributes and methods can be listed with a dir() function: dir(df)  
  

*  **head( [n] )**, **tail( [n] )** - first/last n rows
*  **describe()** - generate descriptive statistics (for numeric columns only)
*  **max()**, **min()** - return max/min values for all numeric columns
*  **mean()**, **median()** - return mean/median values for all numeric columns
*  **std()** - standard deviation
*  **sample([n])** - returns a random sample of the data frame
*  **dropna()** - drop all the records with missing values

# Selecting Values

**Selecting a single column, which yields a Series**  
Method 1:   Subset the data frame using column name: **df.sex**
                     

Method 2:   Use the column name as an attribute: **df['sex']**

In [ ]:
df.Name

0                                 Mr. Owen Harris Braund
1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                                  Miss. Laina Heikkinen
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
                             ...
882                                 Rev. Juozas Montvila
883                          Miss. Margaret Edith Graham
884                       Miss. Catherine Helen Johnston
885                                 Mr. Karl Howell Behr
886                                   Mr. Patrick Dooley
Name: Name, Length: 887, dtype: object

In [ ]:
df['Name']

0                                 Mr. Owen Harris Braund
1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                                  Miss. Laina Heikkinen
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
                             ...
882                                 Rev. Juozas Montvila
883                          Miss. Margaret Edith Graham
884                       Miss. Catherine Helen Johnston
885                                 Mr. Karl Howell Behr
886                                   Mr. Patrick Dooley
Name: Name, Length: 887, dtype: object

**Selecting multiple columns**  
Note that the output here is a dataframe, not series

In [ ]:
df[['Name', 'Age']]

                                                  Name   Age
0                               Mr. Owen Harris Braund  22.0
1    Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0
2                                Miss. Laina Heikkinen  26.0
3          Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0
4                              Mr. William Henry Allen  35.0
..                                                 ...   ...
882                               Rev. Juozas Montvila  27.0
883                        Miss. Margaret Edith Graham  19.0
884                     Miss. Catherine Helen Johnston   7.0
885                               Mr. Karl Howell Behr  26.0
886                                 Mr. Patrick Dooley  32.0

[887 rows x 2 columns]

**Indexing**  
If we need to select a range of rows, we can specify the range using ":"

In [ ]:
df[0:3]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250

**Selection by label**  
**df.loc** - If we need to select a range of rows, using their labels we can use method loc

In [ ]:
df.loc[0:3]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000

Note the difference in output between df.loc[0:3] and df[0:3].  
In **df[0:3]**, the index position between 0 and 3 is selected (3 excluded, array starts at 0).  
But in **df.loc[0:3]**, the lables 0, 1, 2, and 3 are selected.

**Selection by position**  
If we need to select a range of rows and/or columns, using their positions we can use method iloc:

In [ ]:
df.iloc[3]

Survived                                                             1
Pclass                                                               1
Name                       Mrs. Jacques Heath (Lily May Peel) Futrelle
Sex                                                             female
Age                                                               35.0
Siblings/Spouses Aboard                                              1
Parents/Children Aboard                                              0
Fare                                                              53.1
Name: 3, dtype: object

In [ ]:
df.iloc[0:3]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250

In [ ]:
df.iloc[0:3, 2:5]  # row_start:row_end, col_start:col_end

                                                Name     Sex   Age
0                             Mr. Owen Harris Braund    male  22.0
1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  female  38.0
2                              Miss. Laina Heikkinen  female  26.0

**Boolean indexing**  
Can be used to apply filters to the dataset.

In [ ]:
df[ df.Age> 50] # observe the index, missing indexs indicate that those rows are discarded by the filter.

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
33,0,2,Mr. Edward H Wheadon,male,66.0,0,0,10.5000
53,0,1,Mr. Engelhart Cornelius Ostby,male,65.0,0,1,61.9792
...,...,...,...,...,...,...,...,...
816,1,1,Mrs. Charles Melville (Clara Jennings Gregg) Hays,female,52.0,1,1,93.5000
825,1,1,Mrs. George Nelson (Martha Evelyn) Stone,female,62.0,0,0,80.0000
847,0,3,Mr. Johan Svensson,male,74.0,0,0,7.7750
853,1,1,Mr. Peter Denis Daly,male,51.0,0,0,26.5500
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583

**Handling Missing Data**

In [ ]:
data = {
    'Name': ['Amal', 'Aneetta', 'Lizzy'],
    'Age' : [26, np.nan, 58]
}
test_df = pd.DataFrame(data)

Check if Null values are present

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
test_df.isna().sum()

Name    0
Age     1
dtype: int64

**DataFrame.dropna() drops any rows that have missing data:**  
how = {any, all}, default any  
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.  
*any* : If any NA values are present, drop that row or column.  
*all* : If all values are NA, drop that row or column.

In [ ]:
test_df.dropna(how="any")

    Name   Age
0   Amal  26.0
2  Lizzy  58.0

**DataFrame.fillna() fills missing data:**

In [ ]:
test_df.fillna(value=1000)

      Name     Age
0     Amal    26.0
1  Aneetta  1000.0
2    Lizzy    58.0

A better way is to replace the missing values with the mean or median of that column.  
**mean()**, **median()**

In [ ]:
mean_age = test_df.Age.mean()
test_df.fillna(value=mean_age)

      Name   Age
0     Amal  26.0
1  Aneetta   NaN
2    Lizzy  58.0

# Data Frames groupby method
Using "group by" method we can:
Split the data into groups based on some criteria
Calculate statistics (or apply a function) to each group

In [ ]:
df.groupby(['Sex'])

**Calculate mean value for each numeric column per each group**

In [ ]:
df.groupby(['Sex']).mean(numeric_only=True)

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
Sex,,,,,,
female,0.742038,2.159236,27.719745,0.694268,0.649682,44.479818
male,0.190227,2.385689,30.431361,0.432810,0.237347,25.633935

**Once groupby object is created we can calculate various statistics for each group**  
*Note: If single brackets are used to specify the column (e.g. salary), then the output is Pandas Series object. When double brackets are used the output is a Data Frame*

In [ ]:
df.groupby('Sex')[['Fare']].mean()

             Fare
Sex
female  44.479818
male    25.633935

# Saving the DataFrame to a CSV file

In [ ]:
df.to_csv('titanic_modified.csv', index=False)

# Resources
[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)  
[Pandas Cook Book}(https://github.com/jvns/pandas-cookbook)  
Python Data Science Handbook: Essential Tools for Working with Data by Jake VanderPlas